body {
    background: linear-gradient(#000000 0%, #006dac 80%, #000000 100%);
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}


#window {
    border: 0px solid;
    overflow: hidden;
    width: 300px;
}

.inner-window {
    width: 90000px;
    position: relative;
    right: 0;
}

.slide {
    width: 300px;
    border: 0px solid blue;
    display: inline-block;
}
