

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav>
            <button class="btn-lg">home</button>
            <button class="btn-lg">about</button>
            <button class="btn-lg">contact</button>
        </nav>
        <p>1</p>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
