

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebDeveloper Aleksei Kazakov</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/cossackStyles.css" rel="stylesheet" />


</head>
<body>
    <script>
        document.body.style.minHeight = window.innerHeight + "px";
    </script>


    <div class="container">
        <nav>
            <ul class="nav nav-pills h2 col-lg-offset-3">
                <li role="presentation" id="btnIndex"><a href="/Home/Index">Startsidan</a></li>
                <li role="presentation" id="btnAbout"><a href="/Home/About">Mer om mig</a></li>
                <li role="presentation" id="btnContact"><a href="/Home/Contact">Kontakta mig</a></li>
            </ul>
        </nav>

        <div class="row">
            &nbsp;
        </div>

        <div>
            @RenderBody()
        </div>

        <div class="row">
            &nbsp;
        </div>

        <footer class="text-center">
            (C) Aleksei Kazakov 2016
        </footer>
    </div>





</body>
</html>
