
@{
    ViewBag.Title = "Kontakt";
}

<script type="text/javascript">
    document.getElementById("btnContact").setAttribute("class", "active");
</script>


<row>
    <div class="col-lg-12">
        <h3>Du kan nå mig via:</h3>
        <ul>
            <li>E-mail: <a href="mailto:cossack.hd@gmail.com">cossack.hd@gmail.com</a></li>
            <li>Telefon: <a href="tel:+46737446991">+46737446991</a></li>
        </ul>

    </div>
</row>

