
@{

}
<script src="~/Scripts/cossackUtils.js"></script>
<link href="~/Content/cossackStyles.css" rel="stylesheet" />
<script type="text/javascript">
    document.getElementById("btnIndex").setAttribute("class", "active");
    initSlides(6000);
</script>


<div class="row">
    <div class="col-md-5">
        <ul>
            <li><h2>Aleksei Kazakov</h2></li>
            <li><h2>Говорю на tre languages.</h2></li>
            <li><h2>Programmerar på ännu fler!</h2></li>
            <li><h2>C#, Java, LUA</h2></li>
            <li><h2>HTML, CSS, Javascript</h2></li>
            <li><h2>Använder Slack och Git</h2></li>
            <li><h2><a href="http://ursus.one/gas/_uploads/SW_2_74.pdf" target="_blank">Bygger på andras kod som på mitt</a></h2></li>
        </ul>

    </div>
    <div class="col-md-3 col-md-offset-1">
        <div id='window'>
            <div class="inner-window">
                <div id="slide1" class="slide">
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                </div>

                <div id="slide2" class="slide">
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                </div>

            </div>
        </div>
    </div>
</div>
