
@{

}
<script src="~/Scripts/cossackUtils.js"></script>
<script type="text/javascript">
    document.getElementById("btnIndex").setAttribute("class", "active");
    initSlides(6000);
</script>


<div class="row">
    <div class="col-md-5">
        <ul>
            <li><h3>Aleksei Kazakov</h3></li>
            <li><h3>Говорю на tre languages!</h3></li>
            <li><h3>Programmerar på ännu fler:</h3></li>
            <li><h3>C#, Java, LUA</h3></li>
            <li><h3>HTML, CSS, Javascript</h3></li>
            <li><h3>Använder Slack och Git</h3></li>
            <li>
                <h3>
                    <a href="http://ursus.one/gas/_uploads/SW_2_74.pdf" target="_blank">
                        Bygger på andras kod som på mitt
                    </a>
                </h3>
            </li>
        </ul>

    </div>
    <div class="col-md-3 col-md-offset-1">
        <div id='window'>
            <div class="inner-window">
                <div id="slide1" class="slide">
                    <img src="http://worldartsme.com/images/free-person-clipart-1.jpg"
                         width="200 px" />
                </div>

                <div id="slide2" class="slide">
                    <img src="http://www.clipartkid.com/images/83/people-business-male-clip-art-free-vector-in-open-office-drawing-svg-RtMBRt-clipart.jpg" width="200 px" />

                </div>

            </div>
        </div>
    </div>
</div>
