
@{

}

<h2>Framsidan</h2>
<div class="row">
    <div class="col-md-3">
        <ul>
            <li><h1>Kolla knasvideon tillhöger!</h1></li>
            <li><h2>Kolla knasvideon tillhöger!</h2></li>
            <li><h3>Kolla knasvideon tillhöger!</h3></li>
            <li><h4>Kolla knasvideon tillhöger!</h4></li>
            <li><h4>Kolla knasvideon tillhöger!</h4></li>
            <li><h5>Kolla knasvideon tillhöger!</h5></li>
            <li><h6>Kolla knasvideon tillhöger!</h6></li>
        </ul>


        <script src="~/Scripts/cossackUtils.js"></script>
        <link href="~/Content/cossackStyles.css" rel="stylesheet" />





    </div>
    <div class="col-md-3 col-md-offset-3">
        <script type="text/javascript">
            initSlides(100);
        </script>
        <div id='window'>
            <div class="inner-window">
                <div id="slide1" class="slide">
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                    <p>TEST SLIDE 1</p>
                </div>

                <div id="slide2" class="slide">
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                    <p>TEST SLIDE 2</p>
                </div>

            </div>
        </div>
    </div>
</div>
